.btn {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
    padding: 12px 32px;
    background-color: transparent;

    transition: background-color 250ms, border 250ms, color 250ms;

    &:hover {
        background-color: #fff;
        color: #33354d;
        border: 1px solid #e2e5f1;
    }
}
.btn--accent {
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    border: 1px solid rgb(99, 102, 241);
    background-color: rgb(99, 102, 241);
    color: #fff;

    transition: box-shadow 250ms, background-color 250ms, border 250ms,
        color 250ms;

    &:hover {
        box-shadow: none;
        background-color: #4044ee;
        border: 1px solid #4044ee;
        color: #fff;
    }
}
