.section {
    padding: 150px 0;

    .title {
        text-align: center;
        color: #0f0f19;
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 16px;
    }
}
