// @import './fonts';
@import './layout/_header';


body{
    font-family: Veles, sans-serif;
    font-weight: 700;
    background-color: #cdcdcc;
    span{
        color: #390c03;
    }
}

img{
    display: block;
    max-width: 800px;
}